* {
    margin: 0;
    padding: 0;
}

header .hr {
    border-top: 40px solid #af2024;
    height: 100%;
}

section {
    background: url('../images/bg.jpg');
    background-size: cover;

}

section .promo img {
    padding-left: 270px;
    padding-top: 20px;
}

.soc_media a {
    background-color: #850409;
    font-size: 25px;
    padding: 10px 15px 10px 15px;
    position: fixed;
    right: 0;

}


.soc_media a:first-child {
    top: 310px;
}

.soc_media a:last-child {
    background-color: #98161b;
    font-size: 25px;
    padding: 10px 19.5px 10px 19.5px;
    top: 262px;
}


.soc_media i {
    color: #fff;
}

.king_block {
    max-width: 710px;
    margin: auto;
    position: relative;
    top: 60px;
}

.red_block {
    background-color: #af2024;
    margin: auto;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.block {
    margin: auto;
    background-color: #fff;
    padding-top: 63px;

}

.grey {
    background-color: grey;
    max-width: 560px;
    margin: auto;

}

.block .grey i {
    font-size: 55px;
    color: #af2024;
}


button {
    border: none;
    background: none;
    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;
    padding-top: 143px;
    padding-bottom: 143px;
}

.content {
    max-width: 560px;
    margin: auto;
}


.text {
    color: #af2024;
    font-size: 13px;
    padding-top: 30px;
}

.text span {
    color: #7d7d7d;
    font-size: 13px;
}

.line {
    font-size: 25px;
}

.text p {
    font-size: 12px;
    padding-top: 18px;
    padding-bottom: 128px;
}


footer {
    height: 450px;
    background-color: black;
}


.red_line {
    height: 33px;
    width: 100%;
    background-color: #3f0002;
}